.trontium-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-color: #d9d9d9;
  outline: 0;
}
.trontium-btn-primary {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.trontium-btn-primary:hover,
.trontium-btn-primary:focus {
  color: #fff;
  background: #40a9ff;
  border-color: #40a9ff;
}
.trontium-btn-primary:active {
  color: #fff;
  background: #096dd9;
  border-color: #096dd9;
}
.trontium-btn-default:hover,
.trontium-btn-default:focus {
  color: #40a9ff;
  border-color: #40a9ff;
}
.trontium-btn-default:active {
  color: #096dd9;
  border-color: #096dd9;
}
.trontium-btn-dashed {
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}
.trontium-btn-dashed:hover,
.trontium-btn-dashed:focus {
  color: #40a9ff;
  border-color: #40a9ff;
}
.trontium-btn-dashed:active {
  color: #096dd9;
  border-color: #096dd9;
}
.trontium-btn-danger {
  color: #fff;
  background: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.trontium-btn-danger:hover,
.trontium-btn-danger:focus {
  color: #fff;
  background: #ff7875;
  border-color: #ff7875;
}
.trontium-btn-danger:active {
  color: #fff;
  background: #d9363e;
  border-color: #d9363e;
}
.trontium-btn-link {
  color: #1890ff;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
.trontium-btn-link:hover,
.trontium-btn-link:focus {
  color: #40a9ff;
  border-color: transparent;
}
.trontium-btn-text {
  color: rgba(0, 0, 0, 0.85);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
.trontium-btn-text:hover,
.trontium-btn-text:focus {
  color: rgba(0, 0, 0, 0.85);
  background: rgba(0, 0, 0, 0.018);
  border-color: transparent;
}
.trontium-btn-lg {
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
}
.trontium-btn-sm {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 2px;
}
.trontium-btn-block {
  width: 100%;
}
.trontium-btn-loading {
  position: relative;
  cursor: default;
  opacity: 0.65;
  pointer-events: none;
}
.trontium-btn-loading-icon {
  display: inline-block;
  margin-right: 8px;
  animation: loadingCircle 1s infinite linear;
}
.trontium-btn-disabled {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.trontium-btn-disabled:hover,
.trontium-btn-disabled:focus,
.trontium-btn-disabled:active {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
}
.trontium-btn > span {
  display: inline-block;
}
@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}
